@media only screen and (min-width: 320px) {
  .about__wrapper {
    height: 100vh;
    padding: 1rem 0;
    &__inner {
      width: 80%;
      margin: 0 auto;
      &__left {
        padding-top: 5rem;
        &--bold {
          font-weight: 500 !important;
          line-height: 22.5px !important;
        }
        h2 {
          font-size: 2rem;
          position: relative;
          margin-bottom: 1.5rem;
          padding-left: 0.15rem;
        }
        p {
          @include p;
          margin: 0.65rem 0;
          font-size: 1.01rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .about__wrapper {
    &__inner {
      margin-top: 1rem;
      &__left {
        h2 {
          font-size: 2.2rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .about__wrapper {
    &__inner {
      width: 75%;
      padding-top: 4.5rem;
      &__left {
        h2 {
        }
        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .about__wrapper {
    &__inner {
      width: 80%;
      padding-top: 2.5rem;
      &__left {
        h2 {
        }
        p {
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .about__wrapper {
    &__inner {
      width: 45%;
      margin: 2rem auto 0 7rem;
      padding-top: 2.5rem;
      &__left {
        h2 {
        }
        p {
        }
      }
    }
  }
}
@media only screen and (min-width: 1500px) {
  .about__wrapper {
    &__inner {
      width: 89%;
      padding-top: 2.5rem;
      &__left {
        h2 {
        }
        p {
        }
      }
    }
  }
}
