@media only screen and (min-width: 320px) {
  .projects__container {
    width: 100%;
    height: 100%;
    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -5;
    }
  }

  .projects__wrapper {
    height: 100%;
    padding: 1rem 0;
    &__inner {
      width: 80%;
      margin: 0 auto;
      padding-top: 5rem;
      h2 {
        font-size: 2rem;
        position: relative;
        margin-bottom: 1.5rem;
        padding-left: 0.15rem;
      }
      &__cards {
        margin-top: 2.5rem;
        &__tilt {
          background: $mainColour;
          margin-bottom: 4.5rem;
          border: solid $mainColour 4px;

          &__inner {
            width: 100%;
            height: 12rem;
            position: relative;
            &--left {
              left: 0.1rem;
            }
            &--right {
              right: 0.1rem;
            }
            h1 {
              position: absolute;
              color: #fff;
              bottom: -2.5rem;
              font-size: 1.2rem;
            }
            &__overlay {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .projects__wrapper {
    &__inner {
      h2 {
        font-size: 2.2rem;
      }
      &__cards {
        &__tilt {
          &__inner {
            height: 14rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .projects__wrapper {
    &__inner {
      width: 75%;
      padding-top: 7.5rem;

      &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5%;
        &__tilt {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .projects__wrapper {
    &__inner {
      width: 80%;
      padding-top: 7.5rem;

      &__cards {
        &__tilt {
          margin-bottom: 3rem;
          &__inner {
            height: 14rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .projects__wrapper {
    &__inner {
      width: 85%;
      padding-top: 7.5rem;

      &__cards {
        grid-template-columns: 1fr 1fr 1fr;
        &__tilt {
          margin-bottom: 3rem;
          &__inner {
            height: 14rem;
            position: relative;
            &:hover &__overlay {
              opacity: 1;
            }
            &--left {
              display: none;
            }
            &--right {
              display: none;
            }
            &__overlay {
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              background: $mainColour;
              top: 0;
              left: 0;
              transition: all 0.5s linear;
              opacity: 0;
              &__content {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                padding: 4.5rem 0;

                h3 {
                  font-size: 1.5rem;
                }
                &__btn {
                  width: 80%;
                  margin: 1rem auto;
                  cursor: pointer;
                  button {
                    width: 100%;
                    @include mainButton;
                    border: #fff solid 2px;
                    background: #fff;
                    color: $mainColour;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1500px) {
  .projects__wrapper {
    &__inner {
      width: 90%;
      padding-top: 7.5rem;

      &__cards {
        grid-template-columns: 1fr 1fr 1fr;
        &__tilt {
          margin-bottom: 3rem;
          &__inner {
            height: 14rem;
            &--left {
              left: 0.1rem;
            }
            &--right {
              left: 0.1rem;
            }
          }
        }
      }
    }
  }
}
