@media only screen and (min-width: 320px) {
  .template__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    z-index: -5;
  }
  .template__wrapper {
    width: 100%;
    height: 100%;
    &__inner {
      padding-top: 5rem;
      &__title {
        width: 80%;
        margin: 3.5rem auto;
        text-align: center;
        height: 15rem;
        h1 {
          font-size: 2rem;
          padding-top: 1rem;
        }
        p {
          margin-top: 0.75rem;
          @include p;
        }
        &__meta {
          text-align: center;
          padding-top: 5rem;
          span {
            color: $mainColour;
            font-weight: 400;
          }
        }
      }
      &__middle {
        margin-top: 1rem;

        &__container {
          padding: 2.5rem 0;
          background: linear-gradient(50deg, #13866e, $mainColour);
          &__wrapper {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h2 {
              margin-bottom: 0.55rem;
              font-size: 1.75rem;
              position: relative;
            }
            h3 {
              margin-bottom: 0.55rem;
              font-size: 1.75rem;
            }
            p {
              @include p;
              margin: 1rem 0;
            }
            &__btn {
              width: 70%;
              margin: 1.5rem auto;
              text-align: center;
              button {
                width: 100%;
                @include mainButton;
                padding: 0.75rem 0;
                color: #fff;
                border: 2px solid #fff;
              }
            }

            &__boxes {
              text-align: left;
              padding-top: 0.75rem;
              h4 {
                padding-bottom: 0.25rem;
              }
              &__lower {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-right: -1px;

                p {
                  flex-grow: 1;
                  text-align: center;
                  padding: 0.5rem 0.25rem;
                  background: black;
                  margin-right: 1px;
                }
              }
            }
          }
        }
        &__img {
          width: 100%;
          padding: 5.5rem 0.5rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .template__background {
    height: 50rem;
  }
  .template__wrapper {
    &__inner {
      &__title {
        height: 22rem;
        h1 {
          font-size: 2.2rem;
        }
        p {
          font-size: 1.01rem;
          margin-top: 1.25rem;
        }
        &__meta {
          padding-top: 8rem;
        }
      }
      &__middle {
        &__container {
          p {
            margin: 2rem 0;
            font-size: 1.05rem;
          }
          &__wrapper {
            padding-top: 1rem;
            h3 {
              padding-bottom: 1.75rem;
            }
            &__boxes {
              &__lower {
                p {
                  margin-right: 2px;
                }
              }
              h4 {
                font-size: 1.05rem;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 414px) {
  .template__wrapper {
    &__inner {
      &__title {
        height: 22rem;
        &__meta {
          padding-top: 8rem;
        }
      }
      &__middle {
        &__container {
          padding: 2rem 0 3rem 0;
          p {
            margin: 2rem 0;
            font-size: 1.05rem;
          }

          &__wrapper {
            padding-top: 1rem;

            h3 {
              padding: 2rem 0;
            }
            &__btn {
              margin-top: 3rem;
            }
            &__boxes {
              &__lower {
                p {
                  margin-right: 4px;
                }
              }
              h4 {
                font-size: 1.15rem;
              }
            }
          }
        }
      }
    }
  }
}
