$mainColour: #1bbc9b;

@mixin mainButton {
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2.5px;
  background: none;
  padding: 0.75rem 0;
  cursor: pointer;
}
@mixin outlineButton {
  border: solid 2px $mainColour;
  color: $mainColour;
  background: none;
  transition: all 0.2s ease;
  position: relative;

  span {
    position: relative;
    z-index: 3;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $mainColour;
    transition: all 0.35s;
  }

  &:hover {
    color: #fff;
  }

  &:hover:after {
    width: 100%;
  }
}

@mixin fillButton {
  background: $mainColour;
  border: solid 2px $mainColour;
  color: #fff;
  transition: all 0.2s ease;
  position: relative;
  span {
    position: relative;
    z-index: 3;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all 0.35s;
  }

  &:hover {
    color: $mainColour;
  }

  &:hover:after {
    width: 100%;
  }
}

@mixin p {
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.1px;
}
@mixin titleFeature {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 0.15rem;
  span {
    color: $mainColour;
  }
  &::after,
  &::before {
    position: absolute;
    font-size: 2rem;
    color: $mainColour;
    animation: pulse 2s ease 0s infinite;
  }
}

.dec__left {
  position: relative;
  &::before {
    content: "[";
    position: absolute;
    font-size: inherit;
    color: $mainColour;
    left: -1rem;
  }
}
.dec__right {
  position: relative;
  &::after {
    content: "]";
    position: absolute;
    font-size: inherit;
    color: $mainColour;
    right: -1rem;
  }
}
.dec__left::before,
.dec__right:after {
  animation: pulse 2s ease 0s infinite;
}
.dec__left__alt::before,
.dec__right__alt::after {
  color: #fff;
}
