$mainColour: #1bbc9b;

@mixin mainButton {
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2.5px;
  background: none;
  padding: 0.75rem 0;
  cursor: pointer;
}
@mixin outlineButton {
  border: solid 2px $mainColour;
  color: $mainColour;
  background: none;
}

@mixin fillButton {
  background: $mainColour;
  border: none;
  color: #fff;
}

@mixin p {
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.1px;
}
@mixin titleFeature {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 0.15rem;
  span {
    color: $mainColour;
  }
  &::after,
  &::before {
    position: absolute;
    font-size: 2rem;
    color: $mainColour;
    animation: pulse 2s ease 0s infinite;
  }
}
